/* Global Styles */
html {
    font-size: 18px;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #06263d;
    /* background-image: linear-gradient(to top,#ffebcd,
    #ffdbb5,
    #ffca9f,
    #ffb88d,
    #ffa480,
    #ff8f79,
    #ff7776,
    #ff5d78,
    #ff3d7f,
    #ff008a
    );  */
    /* background-image: url("{{ url_for('static', filename='img/Void.jpg') }}");  */
    font-family: Verdana, Tahoma, sans-serif;
}

/* Container */
.container {
    margin: 0 auto;
    max-width: 100%; 
}

/* Nav */
nav {
    margin-top: 0px;
}

/* Headings */
h1.login {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffebcd;
    margin-top: 125px;
    margin-bottom: 60px;
}

h1.page_name_note {
    text-align: center;
    font-style: oblique;
    font-size: 4rem;
    font-weight: bold;
    color: #ffebcd;
    margin-top: 100px;
}

h1.editing_note {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffebcd;
    margin-top: 100px;
    margin-bottom: 25px;
}

h1.page_delete {
    text-align: center;
    font-size: 3.25rem;
    font-weight: bold;
    color: #ffebcd;
    margin-top: 75px;
}

h1.page_info {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd79a;
    margin-top: -10px;
}

h1.page_warning {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: crimson;
    /* color: #f04668; */
    margin-top: 25px;
}

h3.form {
    text-align: center;
    color: #ffd79a;
    margin-bottom: 18px;
}

/* Span */
span.user_name {
    font-size: 1.2em;
    /* color: #ffebcd; */
    color: #f05340;
    
}

/* Paragraphs */
p.signature {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
    color: #00122f;
    color: #ffebcd;
    text-align: center;
    /* margin-bottom: 50px; */
}

/* Links */
a.navclass {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1rem;
}

a.toggleDelete {
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px;
}

a.return {
    border: solid 2px;
}

i.bin {
    padding: 15px;
}


/* Input fields */
input.form_input {
    width: 100%;
}

textarea.input {
    height: auto;
    /* min-height: 75px; */
    max-height: 200px;
}

/* Lists */
ul.notegroup {
    margin-bottom: 30px;
}

li.notelist {
    background-color: #ffebcd;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 1em;
    text-align: left;
}

li.notelist:first-child, li.notelist:last-child {
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 1em;
}

li::before {
    /* font-size: 1rem; */
    font-family: "Font Awesome 5 Free"; 
    font: var(--fa-font-solid);
    content: "\f02e";
    color: #f05340;
    margin-left: 5px;
    margin-right: 3px;
}

/* Text */
text.flask_note_logo {
    font-size: 2rem;
    font-weight: bold;
    color: #eeeeee;
    text-shadow: 0 0 2px #eeeeee; 
    margin-left: 5px;
    border-radius: 1em;
    padding: 12px;
}

text.date {
    margin-left: 5px;
    color: #17a2b8;
    
}

/* Buttons */
button.login_button {
    border: solid 2px;
}

button.add_note {
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px;
}

button.edit_button {
    color: #17a2b8;
    float: right;
    border: solid 2px #17a2b8;
    border-radius: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

button.edit_button:hover {
    background-color: #118290;
    border-color: #118290;
    color: #ffffff;
}

button.save {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    border: solid 2px;
}

button.delete:hover {
    color: crimson;
}

/* Footer */
footer {
    position: relative;
    margin-top: auto;
}

/* Image */
img.logo {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    /* margin-top: 10vh; */
    margin-bottom: 1vh;
    z-index: 9999;
}

/* Div & Other elements */
div.notes {
    /* font-size: 1.2rem; */
    width: 50%;
    min-width: 525px;
    margin: auto;
    margin-top: 45px;
}

div.add_note {
    margin: auto;
    overflow: auto;
}

div.edit_notes {
    width: 50%;
    min-width: 525px;
    margin: auto;
    margin-top: 0px;
    overflow: auto;
}

div.alert {
    width: 360px;
    margin-top: 35px;
    margin-bottom: -100px;
}

div.sign_in_form {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

div.form-group {
    /* color: #3b677f; */
    color: #ffebcd;
}

div.sign_up_submit {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

div.time_edit {
    margin-top: 12px;
}

div.add_note_textarea {
    width: 80%;
    min-width: 515px;
    margin-right: 10px;
    vertical-align: text-top;
    display: inline-block;
}

div.submit_note {
    /* text-align: center; */
    margin-top: 12px;
    vertical-align: text-top;
    display: inline-block;
}

div.note_to_edit {
    width: 80%;
    min-width: 515px;
    margin-right: 10px;
    vertical-align: text-top;
    display: inline-block;
}

div.save_edit {
    vertical-align: text-top;
    display: inline-block;
}

div.bin {
    position: fixed;
    bottom: 6vh;
    right: -15px;
    margin: 10px; 
    z-index: 9999;
}

div.bin_return {
    text-align: center;
}

div.signature {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.topwaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.topwaves svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 120px;
}

.topwaves .shape-fill {
    fill: #17a7b8;
}

div.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

div.waves svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

div.waves path.shape-fill {
    fill: #17a2b8;
}

i.bin_icon {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 8px;
}

i.welcome_logo {
    margin-top: 75px;
    margin-bottom: 75px;
}